<div class="modal" id="modal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content scrollOverflow">
      
<div class="mainWrap">
        <div class="headerWrap">
            <div class="headerParaWrap">
                Select City*
            </div>
        </div>
        <div class="bodyWrapContainer">
            <div class="cardWrap" *ngFor="let city of cityDetail">
                <div class="card" (click)="closeModel(city.name, city.id)" >
                    {{city.name}}
                </div>
            </div>
        </div>
</div>

</div></div> 