.headerWrap {
    float: left;
    width: 100%;
    background: black;
    padding: 10px 20px;

}
.menuIconWrap{
    float: left;
    width: 3%;
}
.headerParaWrap {
    float: left;
    font-weight: 500;
    font-size: 20px;
    margin-top: 3px;
    color: white;
    width: 70%;
}
.cityNameWrap {
    float: right;
    font-weight: 500;
    font-size: 20px;
    color: white;
    width: 15%;
}
.menuIconWrap i{
    width: 9%;
    padding-top: 5px;
    font-size: 1.3em!important;
    color: white;
}
.menuIconWrap i:hover{
    cursor: pointer;
 }


@media screen and (max-width: 800px) {
    .headerParaWrap{
        width: 89%;
        font-size: 13px;
    }
    .cityNameWrap{
        width: 89%;
        font-size: 11px;
    }
    .menuIconWrap {
        width: 10%;
        margin-top: 5px;
    }
}