<div class="modal" id="modal" role="dialog">

    <div class="mainWrap">
        <div class="exitWrap">
            <i class="fa fa-times fa-lg" (click)="closeModel()" aria-hidden="true"></i>
        </div>
        <div class="paraWrapAccept">
            <div class="imageWrap">
                <div class="imageWrapForService">
                    <img src="../../assets/LogoSideBar.jpeg">
                </div>
            </div>
            <div class="recievedSerivceWrap">
                YOUR SERVICE RECIEVED
            </div>
        </div>
        <div class="paraWrapForContactSoon">
            <div class="contactSoonWrap">
                WE WILL RESPOND AS SOON AS POSSIBLE<br>
                GENERALLY WITHIN A FEW HOURS.
            </div>
        </div>

    </div>

</div>